.bank-logo {
	display: block;
	background-color: rgba(255, 255, 255, 0.0);
	border-radius: 10px;
	border: 4px solid #0f5298;
	color: #0f5298;
	font-weight: bold;
	font-style: italic;
	text-align: center;
	padding: 2%;
	text-shadow: -5px 5px 2px #00000038;
	box-shadow: -5px 5px 2px  #00000038 inset;
	margin: 30px auto;
	max-width: 300px;
}